# <p style="font-family: serif; font-size:2.2em; text-align: center;"><u>Nettoyage des données</u></p>

---

# Chargement et description des données

Dans la continuité du projet cliiink, nous avons besoin de ressources complementaire dont l'utilité est pour l'analyse approfondie... bla bla bla
Les données collectées proviennent (sont issue) de " ... "

Nous nous basons sur les données diffusée dans le " ... "

par convenance pure, nous modifions le nombre de lignes à afficher.
L'idée est d'éviter que cette analyse se résume à de multples affichages de longs tableaux
Dans le cadre du projet, on ne garde que les villes concernée ainsi que les colonnes pertinantes

In [1]:
# On importe les librairies
import pandas as pd
import json
from sqlalchemy import create_engine
from main import Bin_
# On importe le fichier json
fichierConfig = "../data/config.json" 
with open(fichierConfig) as fichier:config = json.load(fichier)["mysql"]
# On modifie le nombre de lignes à afficher
pd.options.display.max_rows = 5
# Lecture dus fichiers
#data_villes = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", index_col= 0, sep=';', skiprows=0)
#entreprises_par_sa = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=1 ,encoding="UTF-8", sep=',', skiprows=list(range(0, 2)) + list(range(14, 245)), usecols=[i for i in range(12)])
#entreprises_par_sa_ef = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=16 ,encoding="UTF-8", sep=',', skiprows=list(range(15, 19)) + list(range(28, 245)), usecols=[i for i in range(31)])
#année_2017 = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=30 ,encoding="UTF-8", sep=',', skiprows=list(range(29, 34)) + list(range(37, 245)), usecols=[i for i in range(14)])
#pop_age = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=39 ,encoding="UTF-8", sep=',', skiprows=list(range(38, 41)) + list(range(50, 245)), usecols=[i for i in range(13)])
#emploi_femme = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=145 ,encoding="UTF-8", sep=',', skiprows=list(range(145, 150)) + list(range(161, 245)), usecols=[i for i in range(7)])
#emploi_homme = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=162 ,encoding="UTF-8", sep=',', skiprows=list(range(162, 167)) + list(range(178, 245)), usecols=[i for i in range(7)])
#chomage_sexe = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=179 ,encoding="UTF-8", sep=',', skiprows=list(range(179, 184)) + list(range(190, 245)), usecols=[i for i in range(7)])
#taux_chomage_age = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=192 ,encoding="UTF-8", sep=',', skiprows=list(range(191, 196)) + list(range(202, 245)), usecols=[i for i in range(13)])
CSP_15_24 = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=84 ,encoding="UTF-8", sep=',', skiprows=list(range(83, 88)) + list(range(99, 245)), usecols=[i for i in range(6)])
CSP_25_54 = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=101 ,encoding="UTF-8", sep=',', skiprows=list(range(100, 105)) + list(range(116, 245)), usecols=[i for i in range(6)])
CSP_55_plus = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=118 ,encoding="UTF-8", sep=',', skiprows=list(range(117, 122)) + list(range(133, 245)), usecols=[i for i in range(6)])
logement_par_catégorie = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=220 ,encoding="UTF-8", sep=',', skiprows=list(range(219, 224)) + list(range(230, 245)), usecols=[i for i in range(7)])
entreprise_csv = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/etablissements.csv")
code_naf = pd.read_excel("/Users/a0000/Desktop/Cliink_Equipe2/Data/naf2008_liste_n1.xls", skiprows=list(range(0, 2)))
naf_5 = pd.read_excel("/Users/a0000/Desktop/Cliink_Equipe2/Data/naf2008_5_niveaux.xls")

FileNotFoundError: [Errno 2] No such file or directory: '../data/config.json'

---

# Apercu des jeux de données

In [ ]:
entreprise_csv

In [ ]:
code_naf

In [ ]:
naf_5

In [ ]:
CSP_15_24

In [ ]:
CSP_25_54

In [ ]:
CSP_55_plus

In [ ]:
logement_par_catégorie

---

# Création des DataFrames

La création des DataFrames nous permettra d'établir la connection et le chargement des données directement depuis les tables de notre base de données.

### Création du DataFrame ville

In [ ]:
liste_ville_id = [1,2,3,4,5]
liste_ville_nom = ['Cannes', 'Le Cannet', 'Mougins', 'Mandelieu-La-Napoule', 'Theoule-Sur-Mer']
ville = pd.DataFrame({'vi_id': liste_ville_id,
                     'vi_nom': liste_ville_nom})

In [ ]:
# Apercu du DataFrame ville
ville

### Création du DataFrame entreprise

In [ ]:
# On affiche les adresses en minuscule
entreprise_csv["denominationUniteLegale"] = entreprise_csv["denominationUniteLegale"].str.lower()
# Rectification des code postaux
entreprise_csv["codePostalEtablissement"] = "0" + entreprise_csv["codePostalEtablissement"].astype(str)
# On affiche le nom des villes en minuscule
entreprise_csv["libelleCommuneEtablissement"] = entreprise_csv["libelleCommuneEtablissement"].str.title()
# On affiche les abbreviations des types de voie en minuscule
entreprise_csv["typeVoieEtablissement"] = entreprise_csv["typeVoieEtablissement"].str.lower()
# On affiche les nom des rue en minuscule
entreprise_csv["libelleVoieEtablissement"] = entreprise_csv["libelleVoieEtablissement"].str.lower()

In [ ]:
# Création du dictionnaire naf
naf = {}
for i in naf_5.index:
    # Ajout paire clé-valeur
    naf.update({naf_5.iloc[i]['NIV5']: naf_5.loc[i]['NIV1']})

# Création du dictionnaire secteur d'activité
SectAct = {}
for i in code_naf.index:
    # Ajout paire clé-valeur
    SectAct.update({code_naf.iloc[i]['Code']: code_naf.index[i]+1})
    
# Création du dictionnaire des villes
dict_ville = {}
for i in ville.index:
    dict_ville.update({ville.loc[i]['vi_nom']: ville.loc[i]['vi_id']})

In [ ]:
# Création du DataFrame entreprise
entreprise = pd.DataFrame(columns =['en_id','en_siren','en_nic', 'en_nom', 'en_sa_fk', 'en_adresse', 'en_code_postal', 'en_ville'])


#for i in entreprise_csv.index:
for i in range(2000):
    en_id = str(entreprise_csv.loc[i]["siren"]) + str(entreprise_csv.loc[i]["nic"])
    siren = entreprise_csv.iloc[i]['siren']
    nic = entreprise_csv.iloc[i]['nic']
    nom = entreprise_csv.iloc[i]['denominationUniteLegale']
    # Utilisation du dictionaire naf pour répertorier les secteurs d'activité
    a = naf[entreprise_csv.loc[i]["activitePrincipaleEtablissement"]]
    # Utilisation du dictionaire naf SectAct pour réferencer le secteur d'activité
    secteur_activite = SectAct[a]
    
    
    # Ici on test si le numero de voie est non nul/ si oui on le remplace par un str vide
    adresse = (''if pd.isna(entreprise_csv.iloc[i]['numeroVoieEtablissement'])
    # /sinon on le transforme en int pour supprimer les chiffres apres la virgule puis en str
 else str(int(entreprise_csv.iloc[i]['numeroVoieEtablissement'])))+" "+str(entreprise_csv.loc[i]["typeVoieEtablissement"])+" "+str(entreprise_csv.loc[i]["libelleVoieEtablissement"])
    
    
    code_postal = entreprise_csv.loc[i]["codePostalEtablissement"]
    ville = dict_ville[entreprise_csv.loc[i]["libelleCommuneEtablissement"]]
    
    df = pd.DataFrame({'en_id': en_id,
                           'en_siren': siren,
                           'en_nic': nic,
                           'en_nom': nom,
                           'en_sa_fk': secteur_activite,
                           'en_adresse': adresse,
                           'en_code_postal':code_postal,
                           'en_ville':ville}, index = [0])
    entreprise = entreprise.append(df, ignore_index=True)

In [ ]:
# Apercu du DataFrame entreprise
entreprise

### Création du DataFrame secteur_activite

In [ ]:
# On utilise le fichier code naf pour le DataFrame secteur activité
secteur_activite = pd.DataFrame(code_naf, columns = ["sa_id", "Libellé"])
secteur_activite["sa_id"] = secteur_activite.index + 1
secteur_activite.rename(columns={"Libellé": "sa_nom"},inplace=True)

In [2]:
# Apercu du DataFrame sesecteur_activite
secteur_activite

NameError: name 'secteur_activite' is not defined

### Création du DataFrame categorie_socio_pro

In [3]:
# On utilise le fichier CSP_15_24 pour le DataFrame categorie_socio_pro
categorie_socio_pro = pd.DataFrame(CSP_15_24, columns =["csp_id","Catégorie"])
categorie_socio_pro["csp_id"] = categorie_socio_pro.index + 1
categorie_socio_pro.rename(columns = {"Catégorie": "csp_nom"},inplace=True)

NameError: name 'CSP_15_24' is not defined

In [4]:
# Apercu du DataFrame categorie_socio_pro
categorie_socio_pro

NameError: name 'categorie_socio_pro' is not defined

### Création du DataFrame age

In [5]:
liste_ag_id = [1,2,3]
liste_ag_nom = ["15 a 24", "25 a 54","55 et plus"]
age = pd.DataFrame({'ag_id': liste_ag_id,
                     'ag_nom': liste_ag_nom})

In [6]:
# Apercu du DataFrame age
age

   ag_id      ag_nom
0      1     15 a 24
1      2     25 a 54
2      3  55 et plus

### Création du DataFrame age du DataFrame population

In [7]:
# On rectifie l'ortographe de la colonne Theoule-Sur-Mer
CSP_25_54.rename(columns={"Théoule-Sur-Mer": "Theoule-Sur-Mer"}, inplace = True)
CSP_55_plus.rename(columns={"Théoule-Sur-Mer": "Theoule-Sur-Mer"}, inplace = True)
# On rectifie l'ortographe de la colonne Le Cannet
CSP_55_plus.rename(columns={"le Cannet": "Le Cannet"}, inplace = True)

NameError: name 'CSP_25_54' is not defined

In [22]:
# Création d'une fonction add_df qui renvoie un DataFrame adapté pour la table population
def add_df(df):
    # Création d'un DataFrame adapté pour la table population
    dataf = pd.DataFrame(columns = ["po_id","po_source", "po_annee", "po_nombre_pop", "po_csp_id_fk", "po_ag_id_fk", "po_vi_id"])
    # Dans une premiere boucle on itère sur le nbre de ligne qui correcpond à csp
    for i in df.index:
        # Dans une deuxieme boucle imbriquer on itère sur le nbre de colonne qui correspond aux villes
        for j in df.columns[1:]:
            nbre = df.iloc[i][j]
            ville1 = dict_ville[j]
            csp = i + 1
            DF = pd.DataFrame({'po_id': i,
                           'po_source': "Insee, Recensement de la population (RP), exploitation complémentaire - 2017",
                           'po_annee': 2017,
                           'po_nombre_pop': nbre,
                           'po_csp_id_fk': csp,
                           'po_vi_id': ville1}, index = [0])
            dataf = dataf.append(DF, ignore_index=True)
    return dataf

In [23]:
# On utilise la fonction add_df pour creer des dataframe en fonction de la tranche d'age
population15_24 = add_df(CSP_15_24)
population25_54 = add_df(CSP_25_54)
population55_plus = add_df(CSP_55_plus)

# On assigne la clé entrangère de la table age
password = Bin_(config["password"])._UserP()
population15_24['po_ag_id_fk']=1
population25_54['po_ag_id_fk']=2
population55_plus['po_ag_id_fk']=3

# On réunis les 3 DataFrames dans le DataFrame poplulation
population = pd.concat([population15_24,population25_54,population55_plus])
population.reset_index(inplace = True)
population['po_id'] = population.index
population.drop(columns=['index'], inplace=True)

In [24]:
# Apercu du DataFrame population
population

,po_id,po_source,po_annee,po_nombre_pop,po_csp_id_fk,po_ag_id_fk,po_vi_id
0,0,"Insee, Recensement de la population (RP), expl...",2017,0,1,1,4
1,1,"Insee, Recensement de la population (RP), expl...",2017,0,1,1,3
...,...,...,...,...,...,...,...
133,133,"Insee, Recensement de la population (RP), expl...",2017,31161,9,3,1
134,134,"Insee, Recensement de la population (RP), expl...",2017,623,9,3,5

### Création du DataFrame categorie_logement

In [25]:
# On utilise le fichier logement_par_catégorie pour le DataFrame categorie_logement
categorie_logement = pd.DataFrame(logement_par_catégorie, columns =["cl_id","Catégorie"])
categorie_logement["cl_id"] = categorie_logement.index + 1
categorie_logement.rename(columns = {"Catégorie": "csp_nom"},inplace=True)

In [26]:
# Apercu du DataFrame categorie_logement
categorie_logement

   cl_id                                  csp_nom
0      1                   Résidences principales
1      2  Résid. secondaires et log. occasionnels
2      3                        Logements vacants
3      4                                    Total

### Création du DataFrame logement

In [27]:
# On rectifie l'ortographe de la colonne Mandelieu-la-Napoule
logement_par_catégorie.rename(columns={"Mandelieu-la-Napoule": "Mandelieu-La-Napoule"}, inplace = True)
# On rectifie l'ortographe de la colonne Theoule-Sur-Mer
logement_par_catégorie.rename(columns={"Théoule-sur-Mer": "Theoule-Sur-Mer"}, inplace = True)

In [28]:
# Création du DataFrame logement
logement = pd.DataFrame(columns = ["lo_id","lo_nbre","lo_vi_id_fk","lo_cl_id_fk"])

for i in logement_par_catégorie.index:
    for j in logement_par_catégorie.columns[2:]:
        nbre_lg = logement_par_catégorie.iloc[i][j]
        ville_lg = dict_ville[j]
        type_lg = i +1
        df_lg = pd.DataFrame({'lo_nbre': nbre_lg,
                           'lo_vi_id_fk': ville_lg,
                           'lo_cl_id_fk': type_lg}, index = [0])
        logement = logement.append(df_lg, ignore_index=True)
        
logement['lo_id'] = logement.index + 1

In [29]:
# Apercu du DataFrame categorie_logement
logement

    lo_id lo_nbre lo_vi_id_fk lo_cl_id_fk
0       1   11339           4           1
1       2    8403           3           1
..    ...     ...         ...         ...
18     19   71264           1           4
19     20    3335           5           4

[20 rows x 4 columns]

---

# Insertion des données des la BDD

In [30]:
# Connexion à la BDD
engine = create_engine('mysql+' + config["connector"] + '://' + config["user"] + ":" + password + "@" + config["host"] + ":" + config["port"] + "/" + config["bdd"], echo=True)

In [31]:
for i in logement_par_catégorie.index:
    for j in logement_par_catégorie.columns[2:]:
        print("le chiffre est :   ", logement_par_catégorie.iloc[i][j],";\tla logement_par_catégorie est :", i,";\t la ville est :", str(j))

le chiffre est :    11339 ;	la logement_par_catégorie est : 0 ;	 la ville est : Mandelieu-La-Napoule
le chiffre est :    8403 ;	la logement_par_catégorie est : 0 ;	 la ville est : Mougins
le chiffre est :    21276 ;	la logement_par_catégorie est : 0 ;	 la ville est : Le Cannet
le chiffre est :    37735 ;	la logement_par_catégorie est : 0 ;	 la ville est : Cannes
le chiffre est :    694 ;	la logement_par_catégorie est : 0 ;	 la ville est : Theoule-Sur-Mer
le chiffre est :    8694 ;	la logement_par_catégorie est : 1 ;	 la ville est : Mandelieu-La-Napoule
le chiffre est :    1983 ;	la logement_par_catégorie est : 1 ;	 la ville est : Mougins
le chiffre est :    4104 ;	la logement_par_catégorie est : 1 ;	 la ville est : Le Cannet
le chiffre est :    31433 ;	la logement_par_catégorie est : 1 ;	 la ville est : Cannes
le chiffre est :    2564 ;	la logement_par_catégorie est : 1 ;	 la ville est : Theoule-Sur-Mer
le chiffre est :    1201 ;	la logement_par_catégorie est : 2 ;	 la ville est : Mandelieu-La-Napoule
le chiffre est :    501 ;	la logement_par_catégorie est : 2 ;	 la ville est : Mougins
le chiffre est :    940 ;	la logement_par_catégorie est : 2 ;	 la ville est : Le Cannet
le chiffre est :    2096 ;	la logement_par_catégorie est : 2 ;	 la ville est : Cannes
le chiffre est :    77 ;	la logement_par_catégorie est : 2 ;	 la ville est : Theoule-Sur-Mer
le chiffre est :    21234 ;	la logement_par_catégorie est : 3 ;	 la ville est : Mandelieu-La-Napoule
le chiffre est :    10887 ;	la logement_par_catégorie est : 3 ;	 la ville est : Mougins
le chiffre est :    26320 ;	la logement_par_catégorie est : 3 ;	 la ville est : Le Cannet
le chiffre est :    71264 ;	la logement_par_catégorie est : 3 ;	 la ville est : Cannes
le chiffre est :    3335 ;	la logement_par_catégorie est : 3 ;	 la ville est : Theoule-Sur-Mer

In [32]:
for i in logement_par_catégorie.index:
    for j in logement_par_catégorie.columns[2:]:
        print("le chiffre est :   ", logement_par_catégorie.iloc[i][j],";\tla logement_par_catégorie est :", i,";\t la ville est :", str(j))

le chiffre est :    11339 ;	la logement_par_catégorie est : 0 ;	 la ville est : Mandelieu-La-Napoule
le chiffre est :    8403 ;	la logement_par_catégorie est : 0 ;	 la ville est : Mougins
le chiffre est :    21276 ;	la logement_par_catégorie est : 0 ;	 la ville est : Le Cannet
le chiffre est :    37735 ;	la logement_par_catégorie est : 0 ;	 la ville est : Cannes
le chiffre est :    694 ;	la logement_par_catégorie est : 0 ;	 la ville est : Theoule-Sur-Mer
le chiffre est :    8694 ;	la logement_par_catégorie est : 1 ;	 la ville est : Mandelieu-La-Napoule
le chiffre est :    1983 ;	la logement_par_catégorie est : 1 ;	 la ville est : Mougins
le chiffre est :    4104 ;	la logement_par_catégorie est : 1 ;	 la ville est : Le Cannet
le chiffre est :    31433 ;	la logement_par_catégorie est : 1 ;	 la ville est : Cannes
le chiffre est :    2564 ;	la logement_par_catégorie est : 1 ;	 la ville est : Theoule-Sur-Mer
le chiffre est :    1201 ;	la logement_par_catégorie est : 2 ;	 la ville est : Mandelieu-La-Napoule
le chiffre est :    501 ;	la logement_par_catégorie est : 2 ;	 la ville est : Mougins
le chiffre est :    940 ;	la logement_par_catégorie est : 2 ;	 la ville est : Le Cannet
le chiffre est :    2096 ;	la logement_par_catégorie est : 2 ;	 la ville est : Cannes
le chiffre est :    77 ;	la logement_par_catégorie est : 2 ;	 la ville est : Theoule-Sur-Mer
le chiffre est :    21234 ;	la logement_par_catégorie est : 3 ;	 la ville est : Mandelieu-La-Napoule
le chiffre est :    10887 ;	la logement_par_catégorie est : 3 ;	 la ville est : Mougins
le chiffre est :    26320 ;	la logement_par_catégorie est : 3 ;	 la ville est : Le Cannet
le chiffre est :    71264 ;	la logement_par_catégorie est : 3 ;	 la ville est : Cannes
le chiffre est :    3335 ;	la logement_par_catégorie est : 3 ;	 la ville est : Theoule-Sur-Mer

___

In [33]:
Table_Directors = pd.read_sql_query("select * from catalogue;", engine)

2020-11-30 10:29:46,206 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-11-30 10:29:46,207 INFO sqlalchemy.engine.base.Engine {}
2020-11-30 10:29:46,252 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-11-30 10:29:46,253 INFO sqlalchemy.engine.base.Engine {}
2020-11-30 10:29:46,257 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-11-30 10:29:46,259 INFO sqlalchemy.engine.base.Engine {}
2020-11-30 10:29:46,263 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-11-30 10:29:46,264 INFO sqlalchemy.engine.base.Engine {}
2020-11-30 10:29:46,274 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-11-30 10:29:46,275 INFO sqlalchemy.engine.base.Engine {}
2020-11-30 10:29:46,279 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-11-30 10:29:46,280 INFO sqlalchemy.engine.base.Engine {}
2020-11-30 10:29:46,284 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-11-30 10:29:46,285 INFO sqlalchemy.engine.base.Engine {}
2020-11-30 10:29:46,291 INFO sqlalchemy.engine.base.Engine select * from catalogue;
2020-11-30 10:29:46,295 INFO sqlalchemy.engine.base.Engine {}

In [34]:
Table_Directors

,show_id,type,title,date_added,release_year,rating,duration,description
0,247747,Movie,Amar Akbar Anthony,"December 31, 2019",2019-01-01,TV-14,172,"Abandoned in a park by their father, Amar, Akb..."
1,269880,Movie,Bad Boys,"October 1, 2019",2016-01-01,R,119,"In this fast-paced actioner, two Miami narcoti..."
...,...,...,...,...,...,...,...,...
6232,81235603,TV Show,Sym-Bionic Titan,"December 15, 2019",2013-01-01,TV-PG,1,"Aliens fleeing their planet land on Earth, pos..."
6233,81235729,Movie,Jezebel,"January 16, 2020",2003-01-01,TV-MA,86,"During the internet's infancy, a vulnerable wo..."

In [35]:
pwd

'/Users/a0000/Desktop/Cliink_2/src'