---

# <p style="font-family: serif; font-size:2.2em; text-align: center;"><u>Analyse des jeux de données data</u></p>

Ce lien donne accès au dossier où sont stockés tout les csv utilisés pour le projet [ici](../Data)

Ce lien vous donne accès au site de l'INSEE où les données ont été collectés [ici](https://www.insee.fr/fr/accueil)

---

# Présentation projet Cliiink2

Dans la continuité du projet Cliiink, nous avons cherché de nouveaux jeux de données afin qu'une analyse socio-démographique puisse etre établie en fonction de chacune des villes de l'agglomération.

Nous avons repris les données de la population par ville, et nous les avons confrontés avec d'autres facteurs sociaux tels que les catégories socio-professionnelles ou le type de logement par ville. 
L'idée étant de comparer ces différents critères sociaux afin de faire ressortir un compte rendu par ville, et de comparer le tout avec le premier projet CLiiink. 
Cette conmparaison nous a permit de mettre en valeur la production plus ou moins importante de déchets selon la ville, en fonction de la catégorie initiallement étudiée.

Les données collectées proviennent majoritairement de l'Institut National de la Statistique et des Etudes Economiques.
À noter que l'INSEE établit ses études par cycle d'année. A titre d'exmple, la dernière étude menée pour établir la démographie de la population des villes de l'agglomération a été faite en 2017. Il s'agit donc du dernier jeu de données disponible et publié par l'organisme.

Pour des raisons de pratiques, nous modifions l'affichage d'origine des csv en indiquant les colonnes et les lignes qui nous intéresse. Nous pouvons ainsi focaliser notre études en retenant uniquement les données utiles à notre projet.
L'idée est d'afficher le résulat recherché de facon clair. L'INSEE étant un organisme publiant des données de niveau nationale, nous avons isolé du jeu de données uniquement les données qui nous intéresse, et les avons classés dans nos dataframes.

# Analyse des jeux de données data_sig_collecte

Ce document analyse les jeux de données que nous sommes allé chercher auprès de l'INSEE et de Data Gouv.

Il y a 4 jeux de données que nous avons utilisé :
    
* villes_data
* etablissements.csv
* naf2008_liste_n1
* naf2008_5_niveaux

### Importation des librairies

In [133]:
import pandas as pd
import json
from sqlalchemy import create_engine
from main import Bin_
from dimension_df import dimension_df

### Lecture dus fichiers

In [186]:
#data_villes = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", index_col= 0, sep=';', skiprows=0)
#entreprises_par_sa = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=1 ,encoding="UTF-8", sep=',', skiprows=list(range(0, 2)) + list(range(14, 245)), usecols=[i for i in range(12)])
#entreprises_par_sa_ef = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=16 ,encoding="UTF-8", sep=',', skiprows=list(range(15, 19)) + list(range(28, 245)), usecols=[i for i in range(31)])
#année_2017 = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=30 ,encoding="UTF-8", sep=',', skiprows=list(range(29, 34)) + list(range(37, 245)), usecols=[i for i in range(14)])
#pop_age = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=39 ,encoding="UTF-8", sep=',', skiprows=list(range(38, 41)) + list(range(50, 245)), usecols=[i for i in range(13)])
#emploi_femme = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=145 ,encoding="UTF-8", sep=',', skiprows=list(range(145, 150)) + list(range(161, 245)), usecols=[i for i in range(7)])
#emploi_homme = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=162 ,encoding="UTF-8", sep=',', skiprows=list(range(162, 167)) + list(range(178, 245)), usecols=[i for i in range(7)])
#chomage_sexe = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=179 ,encoding="UTF-8", sep=',', skiprows=list(range(179, 184)) + list(range(190, 245)), usecols=[i for i in range(7)])
#taux_chomage_age = pd.read_csv("/Users/a0000/Desktop/Cliink_Equipe2/Data/villes_data.csv", header=192 ,encoding="UTF-8", sep=',', skiprows=list(range(191, 196)) + list(range(202, 245)), usecols=[i for i in range(13)])
CSP_15_24 = pd.read_csv("../Data/villes_data.csv", header=84 ,encoding="UTF-8", sep=',', skiprows=list(range(83, 88)) + list(range(99, 245)), usecols=[i for i in range(6)])
CSP_25_54 = pd.read_csv("../Data/villes_data.csv", header=101 ,encoding="UTF-8", sep=',', skiprows=list(range(100, 105)) + list(range(116, 245)), usecols=[i for i in range(6)])
CSP_55_plus = pd.read_csv("../Data/villes_data.csv", header=118 ,encoding="UTF-8", sep=',', skiprows=list(range(117, 122)) + list(range(133, 245)), usecols=[i for i in range(6)])
logement_par_catégorie = pd.read_csv("../Data/villes_data.csv", header=220 ,encoding="UTF-8", sep=',', skiprows=list(range(219, 224)) + list(range(230, 245)), usecols=[i for i in range(7)])
entreprise_csv = pd.read_csv("../Data/etablissements.csv")
code_naf = pd.read_excel("../Data/naf2008_liste_n1.xls", skiprows=list(range(0, 2)))
naf_5 = pd.read_excel("../Data/naf2008_5_niveaux.xls")

# On importe le fichier json pour rendre anonyme l'entrée de nos données personnelles lors de la connexion avec la base de données 
fichierConfig = "../Data/config.json" 
with open(fichierConfig) as fichier:config = json.load(fichier)["mysql"]
    
# On indique le nombre de lignes à afficher
#pd.options.display.max_rows = 5

/home/simplon/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (18,19,47,54,56,71) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

---

## Retour sur les décisons prises dans la sélection des csv

Le csv "data_villes" n'a pas été retenu pour le projet car il concerne uniquement les données des entreprises fondées en l'année 2020. 
Or pour que notre étude soit plus pertinente, nous avons jugé judiciable de travailler sur l'ensemble des entreprises de l'agglomération, et non pas uniquement celles crée récemment.

Après analyse de nos besoins, les csv suivants ne se sont pas révélés adéquats pour l'étude que l'on a voulu mené:

* année_2017
* pop_age
* emploi_femme
* emploi_homme
* chomage_sexe
* taux_chomage_age

Par ailleurs, les csv "entreprises_par_sa" et "entreprises_par_sa_ef" ont été remplacés par le csv "entreprise_csv", plus complet et précis.

---

# Jeu de données des CSP_15_24

### Aperçu du fichier

Il contient 6 variables que l'on pourra étudier :

* catégorie
* Mandelieu-La-Napoule
* Mougins
* Le Cannet
* Cannes
* Theoule-Sur-Mer

In [90]:
CSP_15_24

,Catégorie,Mandelieu-La-Napoule,Mougins,Le Cannet,Cannes,Theoule-Sur-Mer
0,Agriculteurs exploitants,0,0,0,0,0
1,Artisans. commerçants. chefs entreprise,16,34,26,40,5
2,Cadres et professions intellectuelles supérieures,37,44,24,72,10
3,Professions intermédiaires,238,114,328,477,16
4,Employés,510,241,761,1324,16
5,Ouvriers,192,182,395,717,5
6,Retraités,0,0,0,0,0
7,Autres personnes sans activité professionnelle,1000,1049,2128,4519,63
8,Total,1993,1664,3662,7149,115

### Dimension du jeu de données

Le dataframe ci-dessus prend en compte les catégories des classes socio-professionnelles par ville. 

Afin de faire ressortir le nombre exact de catégorie et de les associer au nombre exact de colonne, nous allons supprimer la ligne "Total" qui ne nous est pas utile. De meme, nous ne retiendrons pas la colonne "Catégorie" mais uniquement les cinq colonnes présentant les statistiques des villes de l'agglomération.

In [204]:
print("Le jeu de données recense", CSP_15_24.iloc[:-1].shape[0],"catégories socio-professionnels pour les 15-25ans des", CSP_15_24.iloc[:,1:].shape[1], "villes de l'agglomération")

Le jeu de données recense 8 catégories socio-professionnels pour les 15-25ans des 5 villes de l'agglomération

### Valeurs manquantes

Le jeu de données est complet

In [5]:
CSP_15_24.isna().sum()

Catégorie               0
Mandelieu-La-Napoule    0
Mougins                 0
Le Cannet               0
Cannes                  0
Theoule-Sur-Mer         0
dtype: int64

### Décompte des doublons

In [6]:
CSP_15_24.duplicated().sum()

0

---

# Jeu de données des CSP_25_54

### Aperçu du fichier

Il contient 6 variables que l'on pourra étudier :

* catégorie
* Mandelieu-La-Napoule
* Mougins
* Le Cannet
* Cannes
* Theoule-Sur-Mer

In [7]:
CSP_25_54

,Catégorie,Mandelieu-La-Napoule,Mougins,Le Cannet,Cannes,Théoule-Sur-Mer
0,Agriculteurs exploitants,20,3,10,20,0
1,Artisans. commerçants. chefs entreprise,741,927,1225,2089,52
2,Cadres et professions intellectuelles supérieures,1199,1917,1836,2883,68
3,Professions intermédiaires,2073,1881,3332,4798,125
4,Employés,2355,1740,4388,7861,141
5,Ouvriers,1063,811,2367,3841,89
6,Retraités,25,20,82,78,0
7,Autres personnes sans activité professionnelle,597,642,1845,3619,22
8,Total,8073,7941,15085,25189,497

### Dimension du jeu de données

In [205]:
print("Le jeu de données recense", CSP_15_24.iloc[:-1].shape[0],"catégories socio-professionnels pour les 25-54ans des", CSP_15_24.iloc[:,1:].shape[1], "villes de l'agglomération")

Le jeu de données recense 8 catégories socio-professionnels pour les 25-54ans des 5 villes de l'agglomération

### Valeurs manquantes

Le jeu de données est complet

In [9]:
CSP_25_54.isna().sum()

Catégorie               0
Mandelieu-La-Napoule    0
Mougins                 0
Le Cannet               0
Cannes                  0
Théoule-Sur-Mer         0
dtype: int64

### Décompte des doublons

In [10]:
CSP_25_54.duplicated().sum()

0

---

# Jeu de données des CSP_55_plus

### Aperçu du fichier

Il contient 6 variables que l'on pourra étudier :

* catégorie
* Mandelieu-La-Napoule
* Mougins
* Le Cannet
* Cannes
* Theoule-Sur-Mer

In [11]:
CSP_55_plus

,Catégorie,Mandelieu-La-Napoule,Mougins,le Cannet,Cannes,Théoule-Sur-Mer
0,Agriculteurs exploitants,3,12,5,18,5
1,Artisans. commerçants. chefs entreprise,285,344,532,923,21
2,Cadres et professions intellectuelles supérieures,285,504,533,919,31
3,Professions intermédiaires,452,375,857,1184,16
4,Employés,610,469,1187,2202,52
5,Ouvriers,208,151,514,935,5
6,Retraités,6847,4248,12230,21987,429
7,Autres personnes sans activité professionnelle,615,504,1297,2993,64
8,Total,9305,6607,17155,31161,623

### Dimension du jeu de données

In [222]:
class dimension_df(object):
    def __init__(self,df):
        self.df = df
        
    def _analyse(self):
        print("Le jeu de données recense", 
              self.df.iloc[:-1].shape[0],
              "catégories catégories socio-professionnelles pour les 55 ans et plus des", 
              self.df.iloc[:,1:].shape[1], 
              "villes de l'agglomération")

In [223]:
class_csp_55 = dimension_df(CSP_55_plus)._analyse()

Le jeu de données recense 8 catégories catégories socio-professionnelles pour les 55 ans et plus des 5 villes de l'agglomération

### Valeurs manquantes

Le jeu de données est complet

In [13]:
CSP_55_plus.isna().sum()

Catégorie               0
Mandelieu-La-Napoule    0
Mougins                 0
le Cannet               0
Cannes                  0
Théoule-Sur-Mer         0
dtype: int64

### Décompte des doublons

In [14]:
CSP_55_plus.duplicated().sum()

0

---

# Jeu de données des logement_par_catégorie

### Aperçu du fichier

Il contient 7 variables que l'on pourra étudier :

* catégorie
* France
* Mandelieu-La-Napoule
* Mougins
* Le Cannet
* Cannes
* Theoule-Sur-Mer

In [187]:
logement_par_catégorie

,Catégorie,France,Mandelieu-la-Napoule,Mougins,Le Cannet,Cannes,Théoule-sur-Mer
0,Résidences principales,29479746,11339,8403,21276,37735,694
1,Résid. secondaires et log. occasionnels,3464523,8694,1983,4104,31433,2564
2,Logements vacants,2935447,1201,501,940,2096,77
3,Total,35879716,21234,10887,26320,71264,3335

### Dimension du jeu de données

In [224]:
class dimension_df():
    def __init__(self,df):
        self.df = df
        
    def _analyse(self):
        print("Le jeu de données recense", 
              self.df.iloc[:-1].shape[0],
              "catégories de logement pour les", 
              self.df.iloc[:,2:].shape[1], 
              "villes de l'agglomération")

In [225]:
class_logement_categorie = dimension_df(logement_par_catégorie)._analyse()

Le jeu de données recense 3 catégories de logement pour les 5 villes de l'agglomération

### Valeurs manquantes

Le jeu de données est complet

In [17]:
logement_par_catégorie.isna().sum()

Catégorie               0
France                  0
Mandelieu-la-Napoule    0
Mougins                 0
Le Cannet               0
Cannes                  0
Théoule-sur-Mer         0
dtype: int64

### Décompte des doublons

In [18]:
logement_par_catégorie.duplicated().sum()

0

---

# Jeu de données des entreprise_csv

### Aperçu du fichier

Il contient 76 variables que l'on pourra étudier :

* siren
* nic
* siret
* statutDiffusionEtablissement
* dateCreationEtablissement
* trancheEffectifsEtablissement
* anneeEffectifsEtablissement
* activitePrincipaleRegistreMetiersEtablissement
* dateDernierTraitementEtablissement
* etablissementSiege
* etatAdministratifUniteLegale
* statutDiffusionUniteLegale
* unitePurgeeUniteLegale
* dateCreationUniteLegale
* categorieJuridiqueUniteLegale 
* denominationUniteLegale
* sigleUniteLegale
* denominationUsuelle1UniteLegale
* denominationUsuelle2UniteLegale
* denominationUsuelle3UniteLegale
* sexeUniteLegale
* nomUniteLegale
* nomUsageUniteLegale
* prenom1UniteLegale
* prenom2UniteLegale
* prenom3UniteLegale
* prenom4UniteLegale
* prenomUsuelUniteLegale
* pseudonymeUniteLegale
* activitePrincipaleUniteLegale
* nomenclatureActivitePrincipaleUniteLegale
* identifiantAssociationUniteLegale
* economieSocialeSolidaireUniteLegale
* caractereEmployeurUniteLegale
* trancheEffectifsUniteLegale
* anneeEffectifsUniteLegale
* nicSiegeUniteLegale
* dateDernierTraitementUniteLegale
* categorieEntreprise
* anneeCategorieEntreprise
* complementAdresseEtablissement
* numeroVoieEtablissement
* indiceRepetitionEtablissement
* typeVoieEtablissement
* libelleVoieEtablissement
* codePostalEtablissement
* libelleCommuneEtablissement
* libelleCommuneEtrangerEtablissement
* distributionSpecialeEtablissement
* codeCommuneEtablissement
* codeCedexEtablissement
* libelleCedexEtablissement
* codePaysEtrangerEtablissement
* libellePaysEtrangerEtablissement
* complementAdresse2Etablissement
* numeroVoie2Etablissement
* indiceRepetition2Etablissement
* typeVoie2Etablissement
* libelleVoie2Etablissement
* codePostal2Etablissement
* libelleCommune2Etablissement
* libelleCommuneEtranger2Etablissement
* distributionSpeciale2Etablissement
* codeCommune2Etablissement
* codeCedex2Etablissement
* libelleCedex2Etablissement
* codePaysEtranger2Etablissement
* libellePaysEtranger2Etablissement
* etatAdministratifEtablissement
* enseigne1Etablissement
* enseigne2Etablissement
* enseigne3Etablissement
* denominationUsuelleEtablissement
* activitePrincipaleEtablissement
* nomenclatureActivitePrincipaleEtablissement
* caractereEmployeurEtablissement

In [208]:
pd.options.display.max_rows = 5

In [209]:
entreprise_csv

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,...,codePaysEtranger2Etablissement,libellePaysEtranger2Etablissement,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
0,6310965,22,631096500022,O,1982-08-10,NN,NaN,NaN,2019-11-14T14:00:15,True,...,NaN,NaN,A,NaN,NaN,NaN,NaN,68.20A,NAFRev2,N
1,15580079,34,1558007900034,O,2004-06-29,NN,NaN,NaN,2008-01-04T17:54:54,False,...,NaN,NaN,A,NaN,NaN,NaN,NaN,68.20B,NAFRev2,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54640,998823504,24209,99882350424209,O,2006-01-01,NN,NaN,NaN,2018-10-22T19:02:51,False,...,NaN,NaN,A,ADECCO,NaN,NaN,NaN,78.20Z,NAFRev2,O
54641,998823504,32376,99882350432376,O,2017-12-15,NaN,NaN,NaN,2019-11-14T14:00:15,False,...,NaN,NaN,A,ADECCO,NaN,NaN,ADECCO FRANCE,78.20Z,NAFRev2,O

### Dimension du jeu de données

In [218]:
class dimension_df():
    def __init__(self,df):
        self.df = df

    def _analyse(self):
        print("Le jeu de données recense", 
              self.df.iloc[:-1].shape[0],
              "entreprises pour lesquelles sont référencées", 
              self.df.iloc[:,:].shape[1], 
              "types de données")

In [219]:
class_entreprise = dimension_df(entreprise_csv)._analyse()

Le jeu de données recense 54641 entreprises pour lesquelles sont référencées 76 types de données

### Valeurs manquantes

Commencons par faire ressortir toutes les valeurs manquantes présentes dans le jeu de données des entreprises.

In [176]:
pd.options.display.max_rows = None

entreprise_csv.isna().sum()

siren                                                 0
nic                                                   0
siret                                                 0
statutDiffusionEtablissement                          0
dateCreationEtablissement                             0
trancheEffectifsEtablissement                     34206
anneeEffectifsEtablissement                       47234
activitePrincipaleRegistreMetiersEtablissement    47905
dateDernierTraitementEtablissement                    0
etablissementSiege                                    0
etatAdministratifUniteLegale                          0
statutDiffusionUniteLegale                            0
unitePurgeeUniteLegale                            54642
dateCreationUniteLegale                               0
categorieJuridiqueUniteLegale                         0
denominationUniteLegale                           19193
sigleUniteLegale                                  52624
denominationUsuelle1UniteLegale                   51520
denominationUsuelle2UniteLegale                   54636
denominationUsuelle3UniteLegale                   54641
sexeUniteLegale                                   35570
nomUniteLegale                                    35449
nomUsageUniteLegale                               52123
prenom1UniteLegale                                35449
prenom2UniteLegale                                48199
prenom3UniteLegale                                52055
prenom4UniteLegale                                54413
prenomUsuelUniteLegale                            35449
pseudonymeUniteLegale                             54588
activitePrincipaleUniteLegale                         0
nomenclatureActivitePrincipaleUniteLegale             0
identifiantAssociationUniteLegale                 53464
economieSocialeSolidaireUniteLegale               42814
caractereEmployeurUniteLegale                         0
trancheEffectifsUniteLegale                       28364
anneeEffectifsUniteLegale                         45103
nicSiegeUniteLegale                                   0
dateDernierTraitementUniteLegale                      0
categorieEntreprise                               20768
anneeCategorieEntreprise                          20768
complementAdresseEtablissement                    31969
numeroVoieEtablissement                            3936
indiceRepetitionEtablissement                     53517
typeVoieEtablissement                              1329
libelleVoieEtablissement                             13
codePostalEtablissement                               0
libelleCommuneEtablissement                           0
libelleCommuneEtrangerEtablissement               54641
distributionSpecialeEtablissement                 54164
codeCommuneEtablissement                              0
codeCedexEtablissement                            54467
libelleCedexEtablissement                         54473
codePaysEtrangerEtablissement                     54642
libellePaysEtrangerEtablissement                  54642
complementAdresse2Etablissement                   54633
numeroVoie2Etablissement                          54576
indiceRepetition2Etablissement                    54641
typeVoie2Etablissement                            54554
libelleVoie2Etablissement                         54554
codePostal2Etablissement                          54554
libelleCommune2Etablissement                      54554
libelleCommuneEtranger2Etablissement              54642
distributionSpeciale2Etablissement                54642
codeCommune2Etablissement                         54554
codeCedex2Etablissement                           54642
libelleCedex2Etablissement                        54642
codePaysEtranger2Etablissement                    54642
libellePaysEtranger2Etablissement                 54642
etatAdministratifEtablissement                        0
enseigne1Etablissement                            49082
enseigne2Etablissement                            54596
enseigne3Etablissement                            54626
denominationUsuelleEtablissement                  50283
activitePrincipaleEtablissement                       0
nomenclatureActivitePrincipaleEtablissement           0
caractereEmployeurEtablissement                       1
dtype: int64

Nous allons maintenant récupérer de ce jeu de données uniquement les variables qui nous intéresse, et que nous allons utiliser pour notre projet.Pour cela nous placons chacune d'entre elles dans la liste ci-dessous.

In [173]:
liste_columns = ["siren", "nic", "denominationUniteLegale", "activitePrincipaleEtablissement",
                "numeroVoieEtablissement", "typeVoieEtablissement", "libelleVoieEtablissement",
                "codePostalEtablissement", "libelleCommuneEtablissement"]

Nous allons faire ressortir le nombre de valeurs manquantes pour chacune des variables de cette liste.

In [174]:
def constat(df):
    print("\nOn constate qu'il manque :")
    [print("\n - "+str(df[i].isna().sum())+" "+i if i in liste_columns else "", end = "") for i in df.columns]

In [147]:
constat(entreprise_csv)

On constate qu'il manque :

 - 0 siren
 - 0 nic
 - 19193 denominationUniteLegale
 - 3936 numeroVoieEtablissement
 - 1329 typeVoieEtablissement
 - 13 libelleVoieEtablissement
 - 0 codePostalEtablissement
 - 0 libelleCommuneEtablissement
 - 0 activitePrincipaleEtablissement

Nous constatons que les variables suivantes ont un jeu de données complet :

* Siren
* Nic
* codePostalEtablissement
* libelleCommuneEtablissement
* activitePrincipaleEtablissement

Alors que les suivantes sont incomplètes :
    
* denominationUniteLegale
* numeroVoieEtablissement
* typeVoieEtablissement
* libelleVoieEtablissement

Ces valeurs manquantes ne nous poseront pas de problème car nous allons utiliser le code Siren pour référencer les entreprises dans la base de données. Or, nous remarquons que la variable entreprise est complète.

### Décompte des doublons

In [22]:
entreprise_csv.duplicated().sum()

0

---

# Jeu de données des code_naf

### Aperçu du fichier

Il contient 2 variables que l'on pourra étudier :

* Code
* Libellé

In [23]:
code_naf

   Code                                            Libellé
0     A                 Agriculture, sylviculture et pêche
1     B                             Industries extractives
2     C                           Industrie manufacturière
3     D  Production et distribution d'électricité, de g...
4     E  Production et distribution d'eau ; assainissem...
5     F                                       Construction
6     G  Commerce ; réparation d'automobiles et de moto...
7     H                          Transports et entreposage
8     I                        Hébergement et restauration
9     J                       Information et communication
10    K               Activités financières et d'assurance
11    L                             Activités immobilières
12    M  Activités spécialisées, scientifiques et techn...
13    N  Activités de services administratifs et de sou...
14    O                            Administration publique
15    P                                       Enseignement
16    Q                    Santé humaine et action sociale
17    R          Arts, spectacles et activités récréatives
18    S                       Autres activités de services
19    T  Activités des ménages en tant qu'employeurs ; ...
20    U                      Activités extra-territoriales

### Dimension du jeu de données

In [214]:
class dimension_df():
    def __init__(self,df):
        self.df = df
        
    def _analyse(self):
        print("Le jeu de données recense", 
              self.df.iloc[:-1].shape[0],
              "codes naf pour", 
              self.df.iloc[:,1:].shape[1], 
              "libellé")

In [215]:
class_code_naf = dimension_df(code_naf)._analyse()

Le jeu de données recense 20 codes naf pour 1 libellé

### Valeurs manquantes

Le jeu de données est complet

In [25]:
code_naf.isna().sum()

Code       0
Libellé    0
dtype: int64

### Décompte des doublons

In [26]:
code_naf.duplicated().sum()

0

---

# Jeu de données des naf_5

### Aperçu du fichier

Il contient 5 variables que l'on pourra étudier :

* NIV5
* NIV4
* NIV3
* NIV2
* NIV1

In [27]:
naf_5

       NIV5   NIV4  NIV3  NIV2 NIV1
0    01.11Z   1.11   1.1     1    A
1    01.12Z   1.12   1.1     1    A
2    01.13Z   1.13   1.1     1    A
3    01.14Z   1.14   1.1     1    A
4    01.15Z   1.15   1.1     1    A
..      ...    ...   ...   ...  ...
727  96.09Z  96.09  96.0    96    S
728  97.00Z  97.00  97.0    97    T
729  98.10Z  98.10  98.1    98    T
730  98.20Z  98.20  98.2    98    T
731  99.00Z  99.00  99.0    99    U

[732 rows x 5 columns]

### Dimension du jeu de données

In [228]:
class dimension_df():
    def __init__(self,df):
        self.df = df
        
    def _analyse(self):
        print("Le jeu de données recense", 
              self.df.iloc[:].shape[0],
              "lignes de données pour chacun des", 
              self.df.iloc[:,:].shape[1], 
              "niveaux")

In [229]:
class_naf_5 = dimension_df(naf_5)._analyse()

Le jeu de données recense 732 lignes de données pour chacun des 5 niveaux

### Valeurs manquantes

Le jeu de données est complet

In [29]:
naf_5.isna().sum()

NIV5    0
NIV4    0
NIV3    0
NIV2    0
NIV1    0
dtype: int64

### Décompte des doublons

In [30]:
naf_5.duplicated().sum()

0

---

# <p style="font-family: serif; font-size:2.2em; text-align: center;"><u>Création des DataFrames</u></p>

La création des DataFrames nous permettra d'établir la connection et le chargement des données directement depuis les tables de notre base de données.

## Création du DataFrame ville

In [31]:
liste_ville_id = [1,2,3,4,5]
liste_ville_nom = ['Cannes', 'Le Cannet', 'Mougins', 'Mandelieu-La-Napoule', 'Theoule-Sur-Mer']
ville = pd.DataFrame({'vi_id': liste_ville_id,
                     'vi_nom': liste_ville_nom})

In [32]:
# Apercu du DataFrame ville
ville

   vi_id                vi_nom
0      1                Cannes
1      2             Le Cannet
2      3               Mougins
3      4  Mandelieu-La-Napoule
4      5       Theoule-Sur-Mer

---

## Création du DataFrame entreprise

In [33]:
# On affiche les adresses en minuscule
entreprise_csv["denominationUniteLegale"] = entreprise_csv["denominationUniteLegale"].str.lower()
# Rectification des code postaux
entreprise_csv["codePostalEtablissement"] = "0" + entreprise_csv["codePostalEtablissement"].astype(str)
# On affiche le nom des villes en minuscule
entreprise_csv["libelleCommuneEtablissement"] = entreprise_csv["libelleCommuneEtablissement"].str.title()
# On affiche les abbreviations des types de voie en minuscule
entreprise_csv["typeVoieEtablissement"] = entreprise_csv["typeVoieEtablissement"].str.lower()
# On affiche les nom des rue en minuscule
entreprise_csv["libelleVoieEtablissement"] = entreprise_csv["libelleVoieEtablissement"].str.lower()

In [34]:
# Création du dictionnaire naf
naf = {}
for i in naf_5.index:
    # Ajout paire clé-valeur
    naf.update({naf_5.iloc[i]['NIV5']: naf_5.loc[i]['NIV1']})

# Création du dictionnaire secteur d'activité
SectAct = {}
for i in code_naf.index:
    # Ajout paire clé-valeur
    SectAct.update({code_naf.iloc[i]['Code']: code_naf.index[i]+1})
    
# Création du dictionnaire des villes
dict_ville = {}
for i in ville.index:
    dict_ville.update({ville.loc[i]['vi_nom']: ville.loc[i]['vi_id']})

In [35]:
# Création du DataFrame entreprise
entreprise = pd.DataFrame(columns =['en_id','en_siren','en_nic', 'en_nom', 'en_sa_id_fk', 'en_adresse', 'en_code_postal', 'en_vi_id_fk'])

for i in entreprise_csv.index:
#for i in range(2000):
    en_id = int(str(entreprise_csv.loc[i]["siren"]) + str(entreprise_csv.loc[i]["nic"]))
    siren = entreprise_csv.iloc[i]['siren']
    nic = entreprise_csv.iloc[i]['nic']
    nom = entreprise_csv.iloc[i]['denominationUniteLegale']
    # Utilisation du dictionaire naf pour répertorier les secteurs d'activité
    a = naf[entreprise_csv.loc[i]["activitePrincipaleEtablissement"]]
    # Utilisation du dictionaire naf SectAct pour réferencer le secteur d'activité
    secteur_activite = SectAct[a]
    
    
    # Ici on test si le numero de voie est non nul/ si oui on le remplace par un str vide
    adresse = (''if pd.isna(entreprise_csv.iloc[i]['numeroVoieEtablissement'])
    # /sinon on le transforme en int pour supprimer les chiffres apres la virgule puis en str
 else str(int(entreprise_csv.iloc[i]['numeroVoieEtablissement'])))+" "+str(entreprise_csv.loc[i]["typeVoieEtablissement"])+" "+str(entreprise_csv.loc[i]["libelleVoieEtablissement"])
    
    
    code_postal = entreprise_csv.loc[i]["codePostalEtablissement"]
    en_ville = dict_ville[entreprise_csv.loc[i]["libelleCommuneEtablissement"]]
    
    df = pd.DataFrame({'en_id': en_id,
                           'en_siren': siren,
                           'en_nic': nic,
                           'en_nom': nom,
                           'en_sa_id_fk': secteur_activite,
                           'en_adresse': adresse,
                           'en_code_postal':code_postal,
                           'en_vi_id_fk':en_ville}, index = [0])
    entreprise = entreprise.append(df, ignore_index=True)

In [36]:
# Apercu du DataFrame entreprise
entreprise

,en_id,en_siren,en_nic,en_nom,en_sa_id_fk,en_adresse,en_code_postal,en_vi_id_fk
0,631096522,6310965,22,NaN,12,av gaston de fontmichel,06210,4
1,1558007934,15580079,34,societe immobiliere walter sperger,12,2 bd leader,06150,1
2,1976012318,19760123,18,ctim noailles,14,17 av de grasse,06400,1
3,1976014913,19760149,13,ctim durango,14,116 bd sadi carnot,06110,2
4,1976020611,19760206,11,ctim residence gallia,14,27 bd montfleury,06400,1
...,...,...,...,...,...,...,...,...
54637,99774992438,997749924,38,sa cotel,9,13 rue du canada,06400,1
54638,99786880763,997868807,63,intergras,7,562 che de bigaud,06250,3
54639,99882350411511,998823504,11511,adecco france,14,34 av francis tonner,06150,1
54640,99882350424209,998823504,24209,adecco france,14,3 rue du bosquet,06150,1
54641,99882350432376,998823504,32376,adecco france,14,226 av saint exupery,06210,4

---

## Création du DataFrame secteur_activite

In [37]:
# On utilise le fichier code naf pour le DataFrame secteur activité
secteur_activite = pd.DataFrame(code_naf, columns = ["sa_id", "Libellé"])
secteur_activite["sa_id"] = secteur_activite.index + 1
secteur_activite.rename(columns={"Libellé": "sa_nom"},inplace=True)

In [38]:
# Apercu du DataFrame sesecteur_activite
secteur_activite

    sa_id                                             sa_nom
0       1                 Agriculture, sylviculture et pêche
1       2                             Industries extractives
2       3                           Industrie manufacturière
3       4  Production et distribution d'électricité, de g...
4       5  Production et distribution d'eau ; assainissem...
5       6                                       Construction
6       7  Commerce ; réparation d'automobiles et de moto...
7       8                          Transports et entreposage
8       9                        Hébergement et restauration
9      10                       Information et communication
10     11               Activités financières et d'assurance
11     12                             Activités immobilières
12     13  Activités spécialisées, scientifiques et techn...
13     14  Activités de services administratifs et de sou...
14     15                            Administration publique
15     16                                       Enseignement
16     17                    Santé humaine et action sociale
17     18          Arts, spectacles et activités récréatives
18     19                       Autres activités de services
19     20  Activités des ménages en tant qu'employeurs ; ...
20     21                      Activités extra-territoriales

---

## Création du DataFrame categorie_socio_pro

In [39]:
# On utilise le fichier CSP_15_24 pour le DataFrame categorie_socio_pro
categorie_socio_pro = pd.DataFrame(CSP_15_24, columns =["csp_id","Catégorie"])
categorie_socio_pro["csp_id"] = categorie_socio_pro.index + 1
categorie_socio_pro.rename(columns = {"Catégorie": "csp_nom"},inplace=True)

In [40]:
# Apercu du DataFrame categorie_socio_pro
categorie_socio_pro

   csp_id                                            csp_nom
0       1                           Agriculteurs exploitants
1       2            Artisans. commerçants. chefs entreprise
2       3  Cadres et professions intellectuelles supérieures
3       4                         Professions intermédiaires
4       5                                           Employés
5       6                                           Ouvriers
6       7                                          Retraités
7       8     Autres personnes sans activité professionnelle
8       9                                              Total

---

## Création du DataFrame age

In [41]:
liste_ag_id = [1,2,3]
liste_ag_nom = ["15 a 24", "25 a 54","55 et plus"]
age = pd.DataFrame({'ag_id': liste_ag_id,
                     'ag_tranche_age': liste_ag_nom})

In [42]:
# Apercu du DataFrame age
age

   ag_id ag_tranche_age
0      1        15 a 24
1      2        25 a 54
2      3     55 et plus

---

## Création du DataFrame age du DataFrame population

In [43]:
# On rectifie l'ortographe de la colonne Theoule-Sur-Mer
CSP_25_54.rename(columns={"Théoule-Sur-Mer": "Theoule-Sur-Mer"}, inplace = True)
CSP_55_plus.rename(columns={"Théoule-Sur-Mer": "Theoule-Sur-Mer"}, inplace = True)
# On rectifie l'ortographe de la colonne Le Cannet
CSP_55_plus.rename(columns={"le Cannet": "Le Cannet"}, inplace = True)

In [44]:
# Création d'une fonction add_df qui renvoie un DataFrame adapté pour la table population
def add_df(df):
    # Création d'un DataFrame adapté pour la table population
    dataf = pd.DataFrame(columns = ["po_id","po_source", "po_annee", "po_nbre_pop", "po_csp_id_fk", "po_ag_id_fk", "po_vi_id_fk"])
    # Dans une premiere boucle on itère sur le nbre de ligne qui correcpond à csp
    for i in df.index:
        # Dans une deuxieme boucle imbriquer on itère sur le nbre de colonne qui correspond aux villes
        for j in df.columns[1:]:
            nbre = df.iloc[i][j]
            ville1 = dict_ville[j]
            csp = i + 1
            DF = pd.DataFrame({'po_id': i,
                           'po_source': "Insee, Recensement de la population (RP), exploitation complémentaire - 2017",
                           'po_annee': 2017,
                           'po_nbre_pop': nbre,
                           'po_csp_id_fk': csp,
                           'po_vi_id_fk': ville1}, index = [0])
            dataf = dataf.append(DF, ignore_index=True)
    return dataf

In [45]:
# On utilise la fonction add_df pour creer des dataframe en fonction de la tranche d'age
population15_24 = add_df(CSP_15_24)
population25_54 = add_df(CSP_25_54)
population55_plus = add_df(CSP_55_plus)

# On assigne la clé entrangère de la table age
password = Bin_(config["password"])._UserP()
population15_24['po_ag_id_fk']=1
population25_54['po_ag_id_fk']=2
population55_plus['po_ag_id_fk']=3

# On réunis les 3 DataFrames dans le DataFrame poplulation
population = pd.concat([population15_24,population25_54,population55_plus])
population.reset_index(inplace = True)
population['po_id'] = population.index
population.drop(columns=['index'], inplace=True)

# On modifie le type de po_année
# population['po_annee']= pd.to_datetime(population['po_annee'], format="%Y")

In [46]:
# Apercu du DataFrame population
population

,po_id,po_source,po_annee,po_nbre_pop,po_csp_id_fk,po_ag_id_fk,po_vi_id_fk
0,0,"Insee, Recensement de la population (RP), expl...",2017,0,1,1,4
1,1,"Insee, Recensement de la population (RP), expl...",2017,0,1,1,3
2,2,"Insee, Recensement de la population (RP), expl...",2017,0,1,1,2
3,3,"Insee, Recensement de la population (RP), expl...",2017,0,1,1,1
4,4,"Insee, Recensement de la population (RP), expl...",2017,0,1,1,5
...,...,...,...,...,...,...,...
130,130,"Insee, Recensement de la population (RP), expl...",2017,9305,9,3,4
131,131,"Insee, Recensement de la population (RP), expl...",2017,6607,9,3,3
132,132,"Insee, Recensement de la population (RP), expl...",2017,17155,9,3,2
133,133,"Insee, Recensement de la population (RP), expl...",2017,31161,9,3,1
134,134,"Insee, Recensement de la population (RP), expl...",2017,623,9,3,5

---

## Création du DataFrame categorie_logement

In [47]:
# On utilise le fichier logement_par_catégorie pour le DataFrame categorie_logement
categorie_logement = pd.DataFrame(logement_par_catégorie, columns =["cl_id","Catégorie"])
categorie_logement["cl_id"] = categorie_logement.index + 1
categorie_logement.rename(columns = {"Catégorie": "cl_nom"},inplace=True)

In [48]:
# Apercu du DataFrame categorie_logement
categorie_logement

   cl_id                                   cl_nom
0      1                   Résidences principales
1      2  Résid. secondaires et log. occasionnels
2      3                        Logements vacants
3      4                                    Total

---

## Création du DataFrame logement

In [49]:
# On rectifie l'ortographe de la colonne Mandelieu-la-Napoule
logement_par_catégorie.rename(columns={"Mandelieu-la-Napoule": "Mandelieu-La-Napoule"}, inplace = True)
# On rectifie l'ortographe de la colonne Theoule-Sur-Mer
logement_par_catégorie.rename(columns={"Théoule-sur-Mer": "Theoule-Sur-Mer"}, inplace = True)

In [50]:
# Création du DataFrame logement
logement = pd.DataFrame(columns = ["lo_id","lo_nbre","lo_vi_id_fk","lo_cl_id_fk"])

for i in logement_par_catégorie.index:
    for j in logement_par_catégorie.columns[2:]:
        nbre_lg = logement_par_catégorie.iloc[i][j]
        ville_lg = dict_ville[j]
        type_lg = i +1
        df_lg = pd.DataFrame({'lo_nbre': nbre_lg,
                           'lo_vi_id_fk': ville_lg,
                           'lo_cl_id_fk': type_lg}, index = [0])
        logement = logement.append(df_lg, ignore_index=True)
        
logement['lo_id'] = logement.index + 1

In [51]:
# Apercu du DataFrame logement
logement

    lo_id lo_nbre lo_vi_id_fk lo_cl_id_fk
0       1   11339           4           1
1       2    8403           3           1
2       3   21276           2           1
3       4   37735           1           1
4       5     694           5           1
5       6    8694           4           2
6       7    1983           3           2
7       8    4104           2           2
8       9   31433           1           2
9      10    2564           5           2
10     11    1201           4           3
11     12     501           3           3
12     13     940           2           3
13     14    2096           1           3
14     15      77           5           3
15     16   21234           4           4
16     17   10887           3           4
17     18   26320           2           4
18     19   71264           1           4
19     20    3335           5           4

### Exemple de boucle :

In [52]:
for i in logement_par_catégorie.index:
    for j in logement_par_catégorie.columns[2:]:
        print("le chiffre est :   ", logement_par_catégorie.iloc[i][j],";\tla logement_par_catégorie est :", i,";\t la ville est :", str(j))

le chiffre est :    11339 ;	la logement_par_catégorie est : 0 ;	 la ville est : Mandelieu-La-Napoule
le chiffre est :    8403 ;	la logement_par_catégorie est : 0 ;	 la ville est : Mougins
le chiffre est :    21276 ;	la logement_par_catégorie est : 0 ;	 la ville est : Le Cannet
le chiffre est :    37735 ;	la logement_par_catégorie est : 0 ;	 la ville est : Cannes
le chiffre est :    694 ;	la logement_par_catégorie est : 0 ;	 la ville est : Theoule-Sur-Mer
le chiffre est :    8694 ;	la logement_par_catégorie est : 1 ;	 la ville est : Mandelieu-La-Napoule
le chiffre est :    1983 ;	la logement_par_catégorie est : 1 ;	 la ville est : Mougins
le chiffre est :    4104 ;	la logement_par_catégorie est : 1 ;	 la ville est : Le Cannet
le chiffre est :    31433 ;	la logement_par_catégorie est : 1 ;	 la ville est : Cannes
le chiffre est :    2564 ;	la logement_par_catégorie est : 1 ;	 la ville est : Theoule-Sur-Mer
le chiffre est :    1201 ;	la logement_par_catégorie est : 2 ;	 la ville est : Mandelieu-La-Napoule
le chiffre est :    501 ;	la logement_par_catégorie est : 2 ;	 la ville est : Mougins
le chiffre est :    940 ;	la logement_par_catégorie est : 2 ;	 la ville est : Le Cannet
le chiffre est :    2096 ;	la logement_par_catégorie est : 2 ;	 la ville est : Cannes
le chiffre est :    77 ;	la logement_par_catégorie est : 2 ;	 la ville est : Theoule-Sur-Mer
le chiffre est :    21234 ;	la logement_par_catégorie est : 3 ;	 la ville est : Mandelieu-La-Napoule
le chiffre est :    10887 ;	la logement_par_catégorie est : 3 ;	 la ville est : Mougins
le chiffre est :    26320 ;	la logement_par_catégorie est : 3 ;	 la ville est : Le Cannet
le chiffre est :    71264 ;	la logement_par_catégorie est : 3 ;	 la ville est : Cannes
le chiffre est :    3335 ;	la logement_par_catégorie est : 3 ;	 la ville est : Theoule-Sur-Mer

### Analyse du jeu de données

In [53]:
print("Le jeu de donnees compte", entreprise.shape[0], "entreprises localisées dans les ", ville.shape[0], "villes de l'agglomération.")

Le jeu de donnees compte 54642 entreprises localisées dans les  5 villes de l'agglomération.

### Décompte des secteurs d'activités

In [54]:
en_vc = entreprise['en_nom'].value_counts()
en_vc.head(5)

commune de cannes                  56
commune le cannet                  25
elres                              21
commune de mandelieu la napoule    17
distribution casino france         17
Name: en_nom, dtype: int64

### Générer le résumé statistique du dataframe

In [55]:
population.describe(include='all')

,po_id,po_source,po_annee,po_nbre_pop,po_csp_id_fk,po_ag_id_fk,po_vi_id_fk
count,135.000000,135,135.0,135.0,135.0,135.000000,135.0
unique,NaN,1,1.0,110.0,9.0,NaN,5.0
top,NaN,"Insee, Recensement de la population (RP), expl...",2017.0,0.0,9.0,NaN,5.0
freq,NaN,135,135.0,12.0,15.0,NaN,27.0
mean,67.000000,NaN,NaN,NaN,NaN,2.000000,NaN
std,39.115214,NaN,NaN,NaN,NaN,0.819538,NaN
min,0.000000,NaN,NaN,NaN,NaN,1.000000,NaN
25%,33.500000,NaN,NaN,NaN,NaN,1.000000,NaN
50%,67.000000,NaN,NaN,NaN,NaN,2.000000,NaN
75%,100.500000,NaN,NaN,NaN,NaN,3.000000,NaN
max,134.000000,NaN,NaN,NaN,NaN,3.000000,NaN

In [56]:
entreprise.describe(include='all')

,en_id,en_siren,en_nic,en_nom,en_sa_id_fk,en_adresse,en_code_postal,en_vi_id_fk
count,54642,54642,54642,35449,54642,54642,54642,54642
unique,54642,52305,1001,32633,20,13795,6,5
top,38874639863,210600292,10,commune de cannes,12,29 bd de la ferrage,06400,1
freq,1,56,3522,56,19458,352,24233,29694

---

# <p style="font-family: serif; font-size:2.2em; text-align: center;"><u>Data Cleaning DataFrames</u></p>

L'Institut national de la statistique et des études économiques est une direction générale du ministère de l'Économie et des Finances. Il a pour mission de collecter, analyser et diffuser des informations sur l'économie et la société française sur l'ensemble de son territoire.

L'INSEE est ainsi un organisme qui publie des statistiques officielles. Les données qui en ressortent sont dons déjà fiables, néttoyées. Les csv ne devraient donc pas nécessairement avoir besoin d'etre nottoyés.

Pour pour s'assurer de l'intégrité de nos données, nous allons tout de meme y mener quelques vérifications.

# Décompte des valeurs manquantes

### Dataframe Ville

In [57]:
ville.isna().sum()

vi_id     0
vi_nom    0
dtype: int64

In [58]:
ville.duplicated().sum()

0

---

### Dataframe secteur_activite

In [59]:
secteur_activite.isna().sum()

sa_id     0
sa_nom    0
dtype: int64

In [60]:
secteur_activite.duplicated().sum()

0

---

### Dataframe categorie_socio_pro

In [61]:
categorie_socio_pro.isna().sum()

csp_id     0
csp_nom    0
dtype: int64

In [62]:
categorie_socio_pro.duplicated().sum()

0

---

### Dataframe age

In [63]:
age.isna().sum()

ag_id             0
ag_tranche_age    0
dtype: int64

In [64]:
age.duplicated().sum()

0

---

### Dataframe categorie_logement

In [65]:
categorie_logement.isna().sum()

cl_id     0
cl_nom    0
dtype: int64

In [66]:
categorie_logement.duplicated().sum()

0

---

### Dataframe logement

In [67]:
logement.isna().sum()

lo_id          0
lo_nbre        0
lo_vi_id_fk    0
lo_cl_id_fk    0
dtype: int64

In [68]:
logement.duplicated().sum()

0

---

### Dataframe population

In [69]:
population.isna().sum()

po_id           0
po_source       0
po_annee        0
po_nbre_pop     0
po_csp_id_fk    0
po_ag_id_fk     0
po_vi_id_fk     0
dtype: int64

In [70]:
population.duplicated().sum()

0

---

### Dataframe entreprise

In [71]:
entreprise.isna().sum()

en_id                 0
en_siren              0
en_nic                0
en_nom            19193
en_sa_id_fk           0
en_adresse            0
en_code_postal        0
en_vi_id_fk           0
dtype: int64

In [72]:
entreprise.duplicated().sum()

0

---

Les jeu de données est complet. Il n'y a pas besoin de droper de doublons par exemple.

Nous pouvons procéder à l'intégration des données dans la base de données.

---

# <p style="font-family: serif; font-size:2.2em; text-align: center;"><u>Connexion et insertion des données dans la BDD</u></p>

## Connexion à la base de données sur Workbench

In [73]:
engine = create_engine('mysql+' + config["connector"] + '://' + config["user"] + ":" + password + "@" + config["host"] + ":" + config["port"] + "/" + config["bdd"], echo=True)

In [74]:
ville.to_sql('ville', con=engine, if_exists='append', index=False)

2020-12-07 12:10:30,239 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-12-07 12:10:30,240 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:30,356 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-12-07 12:10:30,358 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:30,371 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-12-07 12:10:30,372 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:30,384 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-12-07 12:10:30,385 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:30,398 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-12-07 12:10:30,399 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:30,402 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-12-07 12:10:30,403 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:30,421 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-12-07 12:10:30,422 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:30,425 INFO sqlalchemy.engine.base.Engine DESCRIBE `ville`
2020-12-07 12:10:30,426 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:30,444 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-07 12:10:30,445 INFO sqlalchemy.engine.base.Engine INSERT INTO ville (vi_id, vi_nom) VALUES (%(vi_id)s, %(vi_nom)s)
2020-12-07 12:10:30,446 INFO sqlalchemy.engine.base.Engine ({'vi_id': 1, 'vi_nom': 'Cannes'}, {'vi_id': 2, 'vi_nom': 'Le Cannet'}, {'vi_id': 3, 'vi_nom': 'Mougins'}, {'vi_id': 4, 'vi_nom': 'Mandelieu-La-Napoule'}, {'vi_id': 5, 'vi_nom': 'Theoule-Sur-Mer'})
2020-12-07 12:10:30,476 INFO sqlalchemy.engine.base.Engine COMMIT

In [75]:
secteur_activite.to_sql('secteur_activite', con=engine, if_exists='append', index=False)

2020-12-07 12:10:30,553 INFO sqlalchemy.engine.base.Engine DESCRIBE `secteur_activite`
2020-12-07 12:10:30,554 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:30,683 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-07 12:10:30,685 INFO sqlalchemy.engine.base.Engine INSERT INTO secteur_activite (sa_id, sa_nom) VALUES (%(sa_id)s, %(sa_nom)s)
2020-12-07 12:10:30,687 INFO sqlalchemy.engine.base.Engine ({'sa_id': 1, 'sa_nom': 'Agriculture, sylviculture et pêche'}, {'sa_id': 2, 'sa_nom': 'Industries extractives'}, {'sa_id': 3, 'sa_nom': 'Industrie manufacturière'}, {'sa_id': 4, 'sa_nom': "Production et distribution d'électricité, de gaz, de vapeur et d'air conditionné"}, {'sa_id': 5, 'sa_nom': "Production et distribution d'eau ; assainissement, gestion des déchets et dépollution"}, {'sa_id': 6, 'sa_nom': 'Construction'}, {'sa_id': 7, 'sa_nom': "Commerce ; réparation d'automobiles et de motocycles"}, {'sa_id': 8, 'sa_nom': 'Transports et entreposage'}  ... displaying 10 of 21 total bound parameter sets ...  {'sa_id': 20, 'sa_nom': "Activités des ménages en tant qu'employeurs ; activités indifférenciées des ménages en tant que producteurs de biens et services pour usage propre"}, {'sa_id': 21, 'sa_nom': 'Activités extra-territoriales'})
2020-12-07 12:10:30,739 INFO sqlalchemy.engine.base.Engine COMMIT

In [76]:
categorie_socio_pro.to_sql('categorie_socio_pro', con=engine, if_exists='append', index=False)

2020-12-07 12:10:30,798 INFO sqlalchemy.engine.base.Engine DESCRIBE `categorie_socio_pro`
2020-12-07 12:10:30,799 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:30,801 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-07 12:10:30,802 INFO sqlalchemy.engine.base.Engine INSERT INTO categorie_socio_pro (csp_id, csp_nom) VALUES (%(csp_id)s, %(csp_nom)s)
2020-12-07 12:10:30,803 INFO sqlalchemy.engine.base.Engine ({'csp_id': 1, 'csp_nom': 'Agriculteurs exploitants'}, {'csp_id': 2, 'csp_nom': 'Artisans. commerçants. chefs entreprise'}, {'csp_id': 3, 'csp_nom': 'Cadres et professions intellectuelles supérieures'}, {'csp_id': 4, 'csp_nom': 'Professions intermédiaires'}, {'csp_id': 5, 'csp_nom': 'Employés'}, {'csp_id': 6, 'csp_nom': 'Ouvriers'}, {'csp_id': 7, 'csp_nom': 'Retraités'}, {'csp_id': 8, 'csp_nom': 'Autres personnes sans activité professionnelle'}, {'csp_id': 9, 'csp_nom': 'Total'})
2020-12-07 12:10:30,825 INFO sqlalchemy.engine.base.Engine COMMIT

In [77]:
age.to_sql('age', con=engine, if_exists='append', index=False)

2020-12-07 12:10:31,005 INFO sqlalchemy.engine.base.Engine DESCRIBE `age`
2020-12-07 12:10:31,006 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:31,049 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-07 12:10:31,051 INFO sqlalchemy.engine.base.Engine INSERT INTO age (ag_id, ag_tranche_age) VALUES (%(ag_id)s, %(ag_tranche_age)s)
2020-12-07 12:10:31,052 INFO sqlalchemy.engine.base.Engine ({'ag_id': 1, 'ag_tranche_age': '15 a 24'}, {'ag_id': 2, 'ag_tranche_age': '25 a 54'}, {'ag_id': 3, 'ag_tranche_age': '55 et plus'})
2020-12-07 12:10:31,056 INFO sqlalchemy.engine.base.Engine COMMIT

In [78]:
categorie_logement.to_sql('categorie_logement', con=engine, if_exists='append', index=False)

2020-12-07 12:10:31,156 INFO sqlalchemy.engine.base.Engine DESCRIBE `categorie_logement`
2020-12-07 12:10:31,157 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:31,162 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-07 12:10:31,164 INFO sqlalchemy.engine.base.Engine INSERT INTO categorie_logement (cl_id, cl_nom) VALUES (%(cl_id)s, %(cl_nom)s)
2020-12-07 12:10:31,166 INFO sqlalchemy.engine.base.Engine ({'cl_id': 1, 'cl_nom': 'Résidences principales'}, {'cl_id': 2, 'cl_nom': 'Résid. secondaires et log. occasionnels'}, {'cl_id': 3, 'cl_nom': 'Logements vacants'}, {'cl_id': 4, 'cl_nom': 'Total'})
2020-12-07 12:10:31,171 INFO sqlalchemy.engine.base.Engine COMMIT

In [79]:
logement.to_sql('logement', con=engine, if_exists='append', index=False)

2020-12-07 12:10:31,360 INFO sqlalchemy.engine.base.Engine DESCRIBE `logement`
2020-12-07 12:10:31,362 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:10:31,417 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-07 12:10:31,419 INFO sqlalchemy.engine.base.Engine INSERT INTO logement (lo_id, lo_nbre, lo_vi_id_fk, lo_cl_id_fk) VALUES (%(lo_id)s, %(lo_nbre)s, %(lo_vi_id_fk)s, %(lo_cl_id_fk)s)
2020-12-07 12:10:31,420 INFO sqlalchemy.engine.base.Engine ({'lo_id': 1, 'lo_nbre': 11339, 'lo_vi_id_fk': 4, 'lo_cl_id_fk': 1}, {'lo_id': 2, 'lo_nbre': 8403, 'lo_vi_id_fk': 3, 'lo_cl_id_fk': 1}, {'lo_id': 3, 'lo_nbre': 21276, 'lo_vi_id_fk': 2, 'lo_cl_id_fk': 1}, {'lo_id': 4, 'lo_nbre': 37735, 'lo_vi_id_fk': 1, 'lo_cl_id_fk': 1}, {'lo_id': 5, 'lo_nbre': 694, 'lo_vi_id_fk': 5, 'lo_cl_id_fk': 1}, {'lo_id': 6, 'lo_nbre': 8694, 'lo_vi_id_fk': 4, 'lo_cl_id_fk': 2}, {'lo_id': 7, 'lo_nbre': 1983, 'lo_vi_id_fk': 3, 'lo_cl_id_fk': 2}, {'lo_id': 8, 'lo_nbre': 4104, 'lo_vi_id_fk': 2, 'lo_cl_id_fk': 2}  ... displaying 10 of 20 total bound parameter sets ...  {'lo_id': 19, 'lo_nbre': 71264, 'lo_vi_id_fk': 1, 'lo_cl_id_fk': 4}, {'lo_id': 20, 'lo_nbre': 3335, 'lo_vi_id_fk': 5, 'lo_cl_id_fk': 4})
2020-12-07 12:10:31,631 INFO sqlalchemy.engine.base.Engine COMMIT

---

Une valeur a du etre rajouté car l'indexaction pour la table population est définie par la colonne des Siren, et non pas par l'id (comme pour les autres tables). Or les codes Siren comprennent une suite de 9 chiffres, alors que l'indexation commencent avec la valeur 1. En ajoutant une nouvelle valeur, l'index de la table prendra cette nouvelle donnée comme référence et pourra ainsi entrer les suivantes.

Pour l'ajout de cette valeur la commande suivante a été crée :

INSERT INTO population (po_id, po_source, po_annee, po_nbre_pop, po_csp_id_fk, po_ag_id_fk, po_vi_id_fk) 

VALUES (111111, "ligne insertion" , 2017, 1, 1, 1, 1);

In [81]:
population.to_sql('population', con=engine, if_exists='append', index=False)

2020-12-07 12:19:53,676 INFO sqlalchemy.engine.base.Engine DESCRIBE `population`
2020-12-07 12:19:53,678 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:19:53,680 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-07 12:19:53,683 INFO sqlalchemy.engine.base.Engine INSERT INTO population (po_id, po_source, po_annee, po_nbre_pop, po_csp_id_fk, po_ag_id_fk, po_vi_id_fk) VALUES (%(po_id)s, %(po_source)s, %(po_annee)s, %(po_nbre_pop)s, %(po_csp_id_fk)s, %(po_ag_id_fk)s, %(po_vi_id_fk)s)
2020-12-07 12:19:53,684 INFO sqlalchemy.engine.base.Engine ({'po_id': 0, 'po_source': 'Insee, Recensement de la population (RP), exploitation complémentaire - 2017', 'po_annee': 2017, 'po_nbre_pop': 0, 'po_csp_id_fk': 1, 'po_ag_id_fk': 1, 'po_vi_id_fk': 4}, {'po_id': 1, 'po_source': 'Insee, Recensement de la population (RP), exploitation complémentaire - 2017', 'po_annee': 2017, 'po_nbre_pop': 0, 'po_csp_id_fk': 1, 'po_ag_id_fk': 1, 'po_vi_id_fk': 3}, {'po_id': 2, 'po_source': 'Insee, Recensement de la population (RP), exploitation complémentaire - 2017', 'po_annee': 2017, 'po_nbre_pop': 0, 'po_csp_id_fk': 1, 'po_ag_id_fk': 1, 'po_vi_id_fk': 2}, {'po_id': 3, 'po_source': 'Insee, Recensement de la population (RP), exploitation complémentaire - 2017', 'po_annee': 2017, 'po_nbre_pop': 0, 'po_csp_id_fk': 1, 'po_ag_id_fk': 1, 'po_vi_id_fk': 1}, {'po_id': 4, 'po_source': 'Insee, Recensement de la population (RP), exploitation complémentaire - 2017', 'po_annee': 2017, 'po_nbre_pop': 0, 'po_csp_id_fk': 1, 'po_ag_id_fk': 1, 'po_vi_id_fk': 5}, {'po_id': 5, 'po_source': 'Insee, Recensement de la population (RP), exploitation complémentaire - 2017', 'po_annee': 2017, 'po_nbre_pop': 16, 'po_csp_id_fk': 2, 'po_ag_id_fk': 1, 'po_vi_id_fk': 4}, {'po_id': 6, 'po_source': 'Insee, Recensement de la population (RP), exploitation complémentaire - 2017', 'po_annee': 2017, 'po_nbre_pop': 34, 'po_csp_id_fk': 2, 'po_ag_id_fk': 1, 'po_vi_id_fk': 3}, {'po_id': 7, 'po_source': 'Insee, Recensement de la population (RP), exploitation complémentaire - 2017', 'po_annee': 2017, 'po_nbre_pop': 26, 'po_csp_id_fk': 2, 'po_ag_id_fk': 1, 'po_vi_id_fk': 2}  ... displaying 10 of 135 total bound parameter sets ...  {'po_id': 133, 'po_source': 'Insee, Recensement de la population (RP), exploitation complémentaire - 2017', 'po_annee': 2017, 'po_nbre_pop': 31161, 'po_csp_id_fk': 9, 'po_ag_id_fk': 3, 'po_vi_id_fk': 1}, {'po_id': 134, 'po_source': 'Insee, Recensement de la population (RP), exploitation complémentaire - 2017', 'po_annee': 2017, 'po_nbre_pop': 623, 'po_csp_id_fk': 9, 'po_ag_id_fk': 3, 'po_vi_id_fk': 5})
2020-12-07 12:19:53,884 INFO sqlalchemy.engine.base.Engine COMMIT

Nous avons

---

In [82]:
entreprise.to_sql('entreprise', con=engine, if_exists='append', index=False)

2020-12-07 12:29:44,226 INFO sqlalchemy.engine.base.Engine DESCRIBE `entreprise`
2020-12-07 12:29:44,227 INFO sqlalchemy.engine.base.Engine {}
2020-12-07 12:29:44,341 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-07 12:29:45,002 INFO sqlalchemy.engine.base.Engine INSERT INTO entreprise (en_id, en_siren, en_nic, en_nom, en_sa_id_fk, en_adresse, en_code_postal, en_vi_id_fk) VALUES (%(en_id)s, %(en_siren)s, %(en_nic)s, %(en_nom)s, %(en_sa_id_fk)s, %(en_adresse)s, %(en_code_postal)s, %(en_vi_id_fk)s)
2020-12-07 12:29:45,003 INFO sqlalchemy.engine.base.Engine ({'en_id': 631096522, 'en_siren': 6310965, 'en_nic': 22, 'en_nom': None, 'en_sa_id_fk': 12, 'en_adresse': ' av gaston de fontmichel', 'en_code_postal': '06210', 'en_vi_id_fk': 4}, {'en_id': 1558007934, 'en_siren': 15580079, 'en_nic': 34, 'en_nom': 'societe immobiliere walter sperger', 'en_sa_id_fk': 12, 'en_adresse': '2 bd leader', 'en_code_postal': '06150', 'en_vi_id_fk': 1}, {'en_id': 1976012318, 'en_siren': 19760123, 'en_nic': 18, 'en_nom': 'ctim noailles', 'en_sa_id_fk': 14, 'en_adresse': '17 av de grasse', 'en_code_postal': '06400', 'en_vi_id_fk': 1}, {'en_id': 1976014913, 'en_siren': 19760149, 'en_nic': 13, 'en_nom': 'ctim durango', 'en_sa_id_fk': 14, 'en_adresse': '116 bd sadi carnot', 'en_code_postal': '06110', 'en_vi_id_fk': 2}, {'en_id': 1976020611, 'en_siren': 19760206, 'en_nic': 11, 'en_nom': 'ctim residence gallia', 'en_sa_id_fk': 14, 'en_adresse': '27 bd montfleury', 'en_code_postal': '06400', 'en_vi_id_fk': 1}, {'en_id': 1976090910, 'en_siren': 19760909, 'en_nic': 10, 'en_nom': 'ctim grand sud', 'en_sa_id_fk': 14, 'en_adresse': '1 bd sadi carnot', 'en_code_postal': '06110', 'en_vi_id_fk': 2}, {'en_id': 1976121218, 'en_siren': 19761212, 'en_nic': 18, 'en_nom': 'ctim emeraude', 'en_sa_id_fk': 14, 'en_adresse': '7 rue du lac', 'en_code_postal': '06400', 'en_vi_id_fk': 1}, {'en_id': 1976151916, 'en_siren': 19761519, 'en_nic': 16, 'en_nom': 'ctim villa lerina', 'en_sa_id_fk': 14, 'en_adresse': '63 bd de la croisette', 'en_code_postal': '06400', 'en_vi_id_fk': 1}  ... displaying 10 of 54642 total bound parameter sets ...  {'en_id': 99882350424209, 'en_siren': 998823504, 'en_nic': 24209, 'en_nom': 'adecco france', 'en_sa_id_fk': 14, 'en_adresse': '3 rue du bosquet', 'en_code_postal': '06150', 'en_vi_id_fk': 1}, {'en_id': 99882350432376, 'en_siren': 998823504, 'en_nic': 32376, 'en_nom': 'adecco france', 'en_sa_id_fk': 14, 'en_adresse': '226 av saint exupery', 'en_code_postal': '06210', 'en_vi_id_fk': 4})
2020-12-07 12:29:51,524 INFO sqlalchemy.engine.base.Engine COMMIT